# Default ignored files
/../../Reversing Fun /.idea/shelf/
/../../Reversing Fun /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Reversing Fun /.idea/httpRequests/
# Datasource local storage ignored files
/../../Reversing Fun /.idea/dataSources/
/../../Reversing Fun /.idea/dataSources.local.xml
